// Primary-Colors

$softOrange: hsl(35, 77%, 62%);
$softRed: hsl(5, 85%, 63%);

// Neutral-Colors

$offWhite: hsl(36, 100%, 99%);
$grayishBlue: hsl(233, 8%, 79%);
$darkGrayishBlue: hsl(236, 13%, 42%);
$veryDarkBlue: hsl(240, 100%, 5%);

// Breakpoints
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  background-color: $offWhite;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  padding: 1rem;

  .nav-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
    gap: 0.3rem;

    span {
      border: 2px solid black;
      width: 2.5rem;
    }
  }
  .nav-items {
    height: 100vh;
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    padding-left: 2rem;
    display: none;
    span {
      position: absolute;
      font-size: 2rem;
      top: 1rem;
      right: 1rem;
    }
    a {
      font-size: 1.5rem;
      color: black;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 50%;
      margin-top: 30%;
    }
  }

  @media screen and (min-width: 768px) {
    .nav-burger {
      display: none;
    }
    .nav-items {
      height: fit-content;
      position: static;
      display: block;
      width: 100%;
      span {
        display: none;
      }
      div {
        flex-direction: row;
        margin: 0;
        gap: 1rem;
        justify-content: end;
      }
      a {
        color: $darkGrayishBlue;
      }
    }
  }
}

.content {
  padding: 1rem;

  .bright-future {
    width: 100%;

    img {
      width: 100%;
    }
    h1 {
      font-size: 3rem;
      font-style: bold;
      margin: 0.5rem 0;
    }
    p {
      font-size: 1.5rem;
      color: $darkGrayishBlue;
    }
    button {
      padding: 1rem 2rem;
      background-color: $softRed;
      border: none;
      color: $offWhite;
      font-size: 1.5rem;
    }
  }

  @media screen and (min-width: $screen-md) {
    grid-column: span 2;
    height: 70vh;
    border: 5px solid red;

    .bright-future {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(5, 100px);
    }

    img {
      object-fit: cover;
      grid-column: span 10;
      grid-row: span 2;
    }
    h1 {
      color: green;
      grid-column: 5;
    }
  }
}

.new-section {
  padding: 1rem;
  // width: 100%;
  .inset {
    background-color: $veryDarkBlue;
    color: $offWhite;
    padding: 1rem;
    h2 {
      color: $softOrange;
    }
    div {
      margin: 2rem 0;
    }
    p {
      color: $grayishBlue;
    }
  }
  @media screen and (min-width: $screen-md) {
  }
}

.ranked-stories {
  padding: 1rem;
  // width: 100%;

  .story-container {
    display: flex;
    margin: 1rem 0;
    width: 100%;

    img {
      flex: 1;
      max-width: 33%;
    }
    div {
      flex: 2;
      padding-left: 1rem;

      h3 {
        color: gray;
      }
      h4 {
        font-style: bold;
      }
      p {
        color: $darkGrayishBlue;
      }
    }
  }
  @media screen and (min-width: $screen-md) {
    grid-column: span 3;

    display: flex;
    img {
      object-fit: cover;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .main-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid blue;
  }
}
