body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGray);
  font-family: "Outfit", sans-serif;
}

.card-container {
  width: 14rem;
  padding: 0.8rem;
  border-radius: 1rem;
  background-color: var(--white);
}

.card-container img {
  width: 100%;
  border-radius: 0.5rem;
}
.card-container h3 {
  margin: 0.5rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  color: var(--darkBlue);
}
.card-container p {
  color: var(--grayishBlue);
  text-align: center;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.attribution {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 1rem;
}
