//Primary
$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);

//Neutral
$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: "Outfit";
  background-color: $cream;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@media screen and (min-width: 479px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  justify-self: end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main-container {
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  max-width: 480px;
}

@media screen and (min-width: 480px) {
  .main-container {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
  }
}

.main-container__balance {
  background-color: $softRed;
  color: $veryPaleOrange;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;

  .balance-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    h2 {
      padding: 0;
      margin: 0;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
    }
  }

  .balance-shapes {
    display: flex;
    align-items: center;
  }

  .balance-shapes__border {
    height: 4rem;
    width: 4rem;
    border: 4px solid $cream;
    border-radius: 50%;
    z-index: 1;
  }
  .balance-shapes__filled {
    height: 4rem;
    width: 4rem;
    background-color: $darkBrown;
    border-radius: 50%;
    margin-left: -25%;
  }
}

.main-container__spending {
  background-color: $veryPaleOrange;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  h2 {
    color: $darkBrown;
    font-weight: 400;
  }
  .chart {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .spend-data-point {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 12%;
      position: relative;
      margin-top: 3rem;
      div {
        background-color: $softRed;
        width: 100%;
        height: 5rem;
        border-radius: 0.2rem;
        cursor: pointer;
      }
      .top-spend-day {
        background-color: $cyan;
      }
      span {
        color: $mediumBrown;
      }
      .spend-amount-span {
        background-color: $darkBrown;
        padding: 0.3rem;
        border-radius: 5px;
        position: absolute;
        top: -2rem;
        z-index: 1;
        font-size: 0.8rem;
        width: 110%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  hr {
    width: 90%;
    color: $mediumBrown;
    margin: 1rem auto;
  }

  .total {
    color: $darkBrown;
    display: flex;
    justify-content: space-between;

    .total__left {
      display: flex;
      flex-direction: column;
      align-items: start;

      p {
        color: $mediumBrown;
        font-size: 1rem;
      }
      span {
        color: $darkBrown;
        font-size: 1.5rem;
      }
    }

    .total__right {
      display: flex;
      flex-direction: column;
      align-items: end;
      font-size: 1rem;

      p {
        color: $darkBrown;
      }
      span {
        color: $mediumBrown;
      }
    }
  }
}
